@{
    ViewBag.Title = "Contact Centric Consulting";
}
<h2>Centric Consulting Contact Information</h2>


<address>
    1020 Dennison Ave<br />
    Columbus, OH 43201<br />
    <abbr title="Phone">P:</abbr>
    (614) 205-8112
</address>

<address>
    <strong>Centric Consultanting:</strong>   <a href="https://centricconsulting.com/locations/columbus/">https://centricconsulting.com/locations/columbus/</a><br />
   